.carousel-content-container {
    padding: 20px 30px;
    font-size: xxx-large;
    font-weight: lighter;

}


ul.slides {
    display: block;
    position: relative;
    height: 550px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image, .slide-grid {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}
.slide-image{
    position: absolute;
}
.slide-grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}



.slide-image a, .slide-image div ,.slide-grid a, .slide-grid div {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    z-index: 9999;
    font-size: 100px;
    /* line-height: 600px; */
    color: #00365f;
    bottom: 108px;
    /* padding: 45px; */
    /* margin: 20px; */
    /* height: 45px; */
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 25px 20px;
    transition: opacity .2s;
    cursor: pointer;
    margin: 20px;
}

.slide-image:hover + .carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    text-align: left;
    left: 0;
    /*bottom: 20px;*/
}

.carousel-controls .next-slide {
    text-align: right;
    right: 0;

}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00365f;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    display: block;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .slide-grid {
    opacity: 1;
    display: grid;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
    display: block;
}

input#free-article-0:checked ~ .carousel-dots label#free-article-dot-0,
input#free-article-1:checked ~ .carousel-dots label#free-article-dot-1,
input#free-article-2:checked ~ .carousel-dots label#free-article-dot-2,
input#free-article-3:checked ~ .carousel-dots label#free-article-dot-3,
input#free-article-4:checked ~ .carousel-dots label#free-article-dot-4,
input#free-article-5:checked ~ .carousel-dots label#free-article-dot-5,
input#free-article-6:checked ~ .carousel-dots label#free-article-dot-6,
input#older-publication-0:checked ~ .carousel-dots label#older-publication-dot-0,
input#older-publication-1:checked ~ .carousel-dots label#older-publication-dot-1,
input#older-publication-2:checked ~ .carousel-dots label#older-publication-dot-2,
input#older-publication-3:checked ~ .carousel-dots label#older-publication-dot-3,
input#older-publication-4:checked ~ .carousel-dots label#older-publication-dot-4,
input#older-publication-5:checked ~ .carousel-dots label#older-publication-dot-5,
input#older-publication-6:checked ~ .carousel-dots label#older-publication-dot-6 {
    opacity: 1;
}


input:checked + .slide-container .nav label {
    display: block;
}

/*
Special Rule for Older Publications
 */
.eeb-older-publications .slides{
    height: fit-content !important;
}
