
.eeb-term-container {
    display: grid;
    margin: 20px 0;
    grid-template-areas: 'headline''description' 'person' ;
    grid-template-columns: minmax(0, 1fr);
}
.eeb-term-container h3{
    grid-area: headline;

}

.eeb-person-archive {
    display: grid;
    grid-area: person;
}

.eeb-single-person {
    margin: 20px 10px;
    display: grid;
    justify-content: left;
}

.eeb-single-person .eeb-single-person-image {
    height: 150px;
    width: 130px;
    margin: auto;
}


.eeb-single-person-image img {
    height: inherit;
    object-fit: cover;
}

.eeb-term-container .eeb-term-description {
    grid-area: description;
    background: #84b0da;
    height: fit-content;
    padding: 20px;
    color: #00365f;

}
@media screen and (min-width: 640px) {
    .eeb-term-container{
        grid-template-areas: 'headline headline' 'person description';
        grid-template-columns: 70% 30%;
    }
    .eeb-single-person {
        grid-template-columns: auto auto;
        grid-gap: 30px;

    }
}